*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: #0068AE;
}

section{
    background-color: white;

}

.hero {
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}

footer{
    height: 500px;
    background-color: black;
}

nav{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    
}

.logo{
    font-size: 40px;
    margin: 10px;
    cursor: pointer;
    user-select: none;
}


ul{
    display: flex;
    justify-content: space-around;
    width: 600px;
}

li{
    text-decoration: none;
    margin-top: 30px;
}

h1{
    font-size: 4em;
}

h2{
    font-size: 50px;
    padding-bottom: 1rem;
}

.hero-area{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}

.hero-text{
    margin-left: 80px;
    margin-bottom: 200px;
}

.hero-text p{
    font-size: 2em;
}


/* .hero-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-img img{
    width: 70rem;
}

.hero-img .btn{
    font-size: 25px;
    align-self: center;
    margin: auto;
} */

.btn{
    font-size: 1.4em;
    width: 10rem;
    height: 5rem;
    background-color:coral;
    border-radius: 2.5rem;
    text-align: center;
    font-weight: 200;
    padding-top: .9rem;
    margin: 2rem;
    cursor: pointer;
    user-select: none;
}

.btn:hover{
    background-color: #df4815;
}

.btn:active{
    background-color: white;
    color: coral;
}

.socials{
    padding-bottom: 15rem;
    margin: 5rem;

}

.icons{
    padding: 10px;
    color: white;
}

.presentation{
    height: 100vh;
    padding: 2rem;
}

.about-me{
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
    align-items: center;
    box-shadow: 5px 5px 20px #0068AE;
    margin: 3rem;
}

.info{
    width: auto;
    font-size: 2em;
}

span{
    width: 15rem;
    margin: 10px;
    padding: 5px;
    text-align: center;
    border: #0068AE 2px solid;
    border-radius: 10%;
}

span:hover{
    background-color: #0068AE;
    color: white;
}

.skills{
    display: flex;
    justify-content: center;
    align-items: center;
}

.portrait-container{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-right: 0 5rem;
}

.portrait{
    background-color: #0068AE;
    border-radius: 50%;
    width: ;
}

.project-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.portafolio{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
}

.project-card{
    width:50rem;
    height: 30rem;
    box-shadow: 5px 5px 20px #0068AE;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
}

hr {
    width: 50%;
}
.project-card p{
    opacity: 0;
    font-size: 2rem;
    color: white;
    padding: 1rem;
}

.project-card:hover{
    box-shadow: 0 0 0 40rem rgba(0, 0, 0, 0.9) inset;
}

.project-card:hover p{
    opacity: 1;
}

.projet1{
    background-image: url('/src/assets/Mycinema.png');
}

.projet2{
    background-image: url('/src/assets/Cal.png');
}

.projet3{
    background-image: url('/src/assets/dashboard.png');
}

.projet4{
    background-image: url('/src/assets/landingpage.png');
}


footer{

}