*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

a{
    text-decoration: none;
}

section{
    height: 500px;
    background-color: white;
    border: solid black 1px;
}

.hero {
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}

footer{
    height: 500px;
    background-color: black;
}

nav{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    
}

.logo{
    font-size: 40px;
    margin: 10px;
}

ul{
    display: flex;
    justify-content: space-around;
    width: 600px;
}

li{
    text-decoration: none;
    margin-top: 30px;
}

h1{
    font-size: 90px;
}
.hero-area{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}

.hero-text{
    margin-left: 80px;
    margin-bottom: 200px;
}


.hero-img img{
    height: 65%;
    width: 100%;
}

.hero-img .btn{
    font-size: 25px;
    align-self: center;
    margin: auto;
}

.btn{
    width: 200px;
    height: 60px;
    background-color:coral;
    border-radius: 30px;
    text-align: center;
    font-weight: 200;
    padding-top: 5px;
    margin: 20px;
    cursor: pointer;
    user-select: none;
}

.btn:hover{
    background-color: #df4815;
}

.btn:active{
    background-color: aliceblue;
    color: coral;
}

.socials{
    padding-bottom: 200px;
    margin: 50px;

}

.icons{
    padding: 10px;
    color: aliceblue;
}