*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: #0068AE;
}

section{
    background-color: white;

}

.hero {
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}

footer{
    height: 500px;
    background-color: black;
}

nav{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    
}

.logo{
    font-size: 40px;
    margin: 10px;
    cursor: pointer;
    user-select: none;
}


ul{
    display: flex;
    justify-content: space-around;
    width: 600px;
}

li{
    text-decoration: none;
    margin-top: 30px;
}

h1{
    font-size: 90px;
}

h2{
    font-size: 50px;
    padding-bottom: 1rem;
}

.hero-area{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}

.hero-text{
    margin-left: 80px;
    margin-bottom: 200px;
}


.hero-img img{
    height: 65%;
    width: 100%;
}

.hero-img .btn{
    font-size: 25px;
    align-self: center;
    margin: auto;
}

.btn{
    width: 100px;
    height: 55px;
    background-color:coral;
    border-radius: 30px;
    text-align: center;
    font-weight: 200;
    padding-top: 5px;
    margin: 20px;
    cursor: pointer;
    user-select: none;
}

.btn:hover{
    background-color: #df4815;
}

.btn:active{
    background-color: white;
    color: coral;
}

.socials{
    padding-bottom: 200px;
    margin: 50px;

}

.icons{
    padding: 10px;
    color: white;
}

.presentation{
    height: 100vh;
}

.about-me{
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    align-items: center;
}

.info{
    width: 50%;
    font-size: 1.2em;
}

span{
    width: 150px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    border: #0068AE 2px solid;
    border-radius: 10%;
}

span:hover{
    background-color: #0068AE;
    color: white;
}

.skills{
    display: flex;
    justify-content: center;
    align-items: center;
}

.portrait-container{
    display: flex;
    align-items: center;
    margin-left: 80px;
}

.portrait{
    background-color: #0068AE;
    border-radius: 50%;
    width: 80%;
}

.project-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.portafolio{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
}

.project-card{
    width: 30%;
    height: 300px;
    box-shadow: 5px 5px 20px #0068AE;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projet1{
    background-image: url('/src/assets/Mycinema.png');
    background-position: center;
    background-size: cover;
}

.projet2{
    background-image: url('/src/assets/Cal.png');
    background-position: center;
    background-size: cover;
}

.projet3{
    background-image: url('/src/assets/dashboard.png');
    background-position: center;
    background-size: cover;
}

.projet4{
    background-image: url('/src/assets/landingpage.png');
    background-position: center;
    background-size: cover;
}



.projet-text h3{
    opacity: 0;
    transform: scale(0);
    font-size: 2rem;
    color: white;
}

.project-card:hover{
    box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

.projet-text:hover h3, p, i{
    opacity: 1;
    transform: scale(1);
}